POC/Mule/MEP/POC_MEP/src/main/resources/posten/PostenLetterService.wsdl

<wsdl:definitions name="LetterService" 
	targetNamespace="http://posten.no/enterprise/letterservice_v1" 
	xmlns:tns      ="http://posten.no/enterprise/letterservice_v1" 
	xmlns:send     ="http://posten.no/enterprise/letterservice/sendletter_v1" 
	xmlns:get      ="http://posten.no/enterprise/letterservice/getpostalplacebypostalcode_v1" 
	xmlns:bug      ="http://posten.no/common/bug" 
	xmlns:wsdl     ="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsdlsoap ="http://schemas.xmlsoap.org/wsdl/soap/" >

	<wsdl:types>
		<schema targetNamespace="http://posten.no/enterprise/types/letterservice_v1" elementFormDefault="unqualified" attributeFormDefault="unqualified" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://posten.no/enterprise/letterservice/sendletter_v1" schemaLocation="PostenSendLetter.xsd"/>
			<import namespace="http://posten.no/enterprise/letterservice/getpostalplacebypostalcode_v1" schemaLocation="PostenGetPostalPlaceByPostalCode.xsd"/>
			<import namespace="http://posten.no/common/bug" schemaLocation="Bug.xsd"/>
		</schema>
    </wsdl:types>

	<wsdl:message name="SendLetterRequest">
		<wsdl:part name="InputParameters" element="send:SendLetterRequest"/>
	</wsdl:message>

	<wsdl:message name="SendLetterResponse">
		<wsdl:part name="OutputParameters" element="send:SendLetterResponse"/>
	</wsdl:message>
	
	<wsdl:message name="GetPostalPlaceByPostalCodeRequest">
		<wsdl:part name="InputParameters" element="get:GetPostalPlaceByPostalCodeRequest"/>
	</wsdl:message>

	<wsdl:message name="GetPostalPlaceByPostalCodeResponse">
		<wsdl:part name="OutputParameters" element="get:GetPostalPlaceByPostalCodeResponse"/>
	</wsdl:message>	
		
	<wsdl:message name="Bug">
		<wsdl:part name="FaultParameters" element="bug:Bug"/>
	</wsdl:message>	
	
	<wsdl:portType name="LetterService">

		<wsdl:operation name="SendLetter">
			<wsdl:input name="input1" message="tns:SendLetterRequest"/>
			<wsdl:output name="output1" message="tns:SendLetterResponse"/>
            <wsdl:fault name="fault" message="tns:Bug"/>
        </wsdl:operation>

		<wsdl:operation name="GetPostalPlaceByPostalCode">
			<wsdl:input name="input2" message="tns:GetPostalPlaceByPostalCodeRequest"/>
			<wsdl:output name="output2" message="tns:GetPostalPlaceByPostalCodeResponse"/>
            <wsdl:fault name="fault" message="tns:Bug"/>
        </wsdl:operation>
        
	</wsdl:portType>

  <wsdl:binding name="LetterServiceSoapBinding" type="tns:LetterService">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="SendLetter">
      <wsdlsoap:operation soapAction="SendLetter" style="document"/>
      <wsdl:input name="input1">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="output1">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
		<wsdlsoap:fault use="literal" name="fault"/>
	  </wsdl:fault>
    </wsdl:operation>    

    <wsdl:operation name="GetPostalPlaceByPostalCode">
      <wsdlsoap:operation soapAction="GetPostalPlaceByPostalCode" style="document"/>
      <wsdl:input name="input2">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="output2">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="fault">
		<wsdlsoap:fault use="literal" name="fault"/>
	  </wsdl:fault>
    </wsdl:operation> 
  
  </wsdl:binding>
  
  <wsdl:service name="LetterService">
	<wsdl:port binding="tns:LetterServiceSoapBinding" name="LetterService">
    	<wsdlsoap:address location="http://localhost.localdomain:7001/posten.enterprise.letterservice/proxyServices/version1/LetterService_HTTP"/>
	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>